svg {
  border: 1px solid black;
}

.labels {
  font-family: 'Noto Sans', sans-serif;
  fill: white;
}

text {
  pointer-events: none;
}

.tooltipContainer.hidden {
  display: none;
}

.tooltipContainer {
  width: 100px;
  height: 50px;
  border: 1px solid black;
}
