html {
  background-color: white;
}

svg {
  max-width: 900px;
  margin: 0 auto;
  display: block;
}

.labels {
  font-family: 'Lato', sans-serif;
  fill: white;
}

.node text {
  pointer-events: none;
}

#dataLinksContainer > *, #bylineContainer > * {
  font-size: 14px;
  font-family: 'Lato', sans-serif;
}

.bottomLink {
  cursor: pointer;
}

.bottomLink:hover {
  fill: blue;
  text-decoration: underline;
}

tspan.bottomBoldLabel {
  font-weight: bold;
}
